<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{url_for('static',filename='not_found.css')}}">
        <title>Not Found</title>
    </head>
    <body>
        		<div class="navbar navbar-inverse">
			<div class="container">
			  	<div class="navbar-header">
					<a class="navbar-brand" >Error Page</a>
			  	</div>
			</div>
		</div>
        <h1>ERROR THIS PAGE IS WRONG PAGE</h1>
        <h2><a href="/" >GO back to main page<a></h2>

    </body>
</html>