<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{{url_for('static',filename='recept.css')}}">
	<title>Recept</title>
</head>
<body  style="background-color: rgb(238 225 210 ); margin:0;" >	
	<div class="navbar navbar-inverse">
		<div class="container">
			  <div class="navbar-header">
				<a class="navbar-brand" href ='/'>Recept page</a>
			  </div>
		</div>
	</div>
	<div style="width: 100% ; height: 100%; background-color:rgb(238 225 210); margin-top: -21px " >
	<h1>Рецепт печенья </h1>
	<p >
		<font color="steelblue" size="4" face="Times New Roman" >Когда я была маленькой, мама часто пекла такое печенье! Оно очень вкусное, и очень долго не сохнет! Называлось "печенье из мясорубки",
	 так как тесто пропускали через мясорубку. Вот я и решила сделать такое печенье с сыночком. Но не через мясорубку, 
	а раскатать тесто, и пусть сынок сам вырезает печенье формами. Ему очень понравилось, а печенье он сам так назвал - "Вкус маминого детства"!</font>
	</p>
	<img src= "{{url_for('static',filename='recept.jpg')}}">
	</div>
	<ol  type="1">
		<li>
			Сначало что-то берем
		</li>
		<li>
			Затем еще что-то
		</li>
		<li>
			Затем мы "Что-то " и "еще что-то" смешиваем
		</li>	
		<li>
			И потом все что получилось заливаем в формачки и идем печь	
		</li>
	</ol>
	<hr>
	<div style="margin-left: 720px; margin-top: -500px">
		<p><b>Пече́нье</b>	 — небольшое кондитерское изделие пониженной влажности, выпеченное из теста, обычно сладкое, длительного хранения.
		 К тесту для печенья иногда добавляют различные зёрна; печенье обычно формуют в виде кружков, квадратов, звёздочек, трубочек;
		 иногда печенье делают с начинкой (<em><b>шоколадом</em></b>, <b><em>изюмом</em></b>, <b><em>сгущённым молоком</em></b>, 
		 <b><em>кремом</em></b>) или помещают начинку между двумя печеньями.</p>
		<ol type="I">
			<li>На грамм: 100</li>
			<li>Калории 502</li>
			<li>Жиры 24 g</li>	
			<li>Насыщенные жиры 6 g</li>	
			<li>Полиненасыщенные жирные кислоты 3,2 g</li>
			<li>Мононенасыщенные жирные кислоты 13 g</li>	
			<li>Холестерин 20 mg</li>	
			<li>Натрий 524 mg</li>	
			<li>Калий 100 mg</li>	
			<li>Углеводы 65 g</li>	
			<li>Пищевые волокна 1,8 g</li>	
			<li>Сахар 15 g</li>	
			<li>Белки 6 g</li>
		</ol>
	</div>


	</body>
</html>	